struct tdatum{
       int d,m,y;
       };

struct element {
       char prezime_ime[30];
       tdatum datum;
       float tekuci,devizni;
       int vrijemeNU,vrijemeT,osoba,vrstatra;
       };
       
struct qu {
       element klijent;
       qu *sljedeci;
       };
       
struct que {
       qu *front,*rear;
       };
       
que q,shalter,brzi_red,novi;
int n;
int placanje_racuna=0;

typedef que& red;

element FrontQ(que& q) {
     if(q.front==q.rear) exit(0);
     return (q.front->sljedeci)->klijent;
     }
     
void EnQueueQ(element x,que& q) {
     qu *zadnji = q.front,*novi;
     while(zadnji->sljedeci) zadnji=zadnji->sljedeci;
     novi = new qu;
     novi->sljedeci=NULL;
     novi->klijent=x;
     zadnji->sljedeci=novi;
     q.rear=novi;
     }
     
void DeQueueQ(que& q) {
     if(q.front==q.rear) return;
     qu *brisi = q.front;
     q.front=brisi->sljedeci;
     delete brisi;
     }

bool IsEmptyQ(que& q) {
     if(q.front==q.rear) return true;
     else return false;
     }
     
void InitQ(que& q) {
     qu* novi = new qu;
     novi->sljedeci=NULL;
     q.rear=novi;
     q.front=novi;
     } 
